* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.sidebar {
  float: left;
  width: 25%;
  background-color: #b7d5d7;
  padding: 20px;
  height: 400px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  background-color: #b7d5d7;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.sidebar ul li.active {
  background-color: red;
  color: #fff;
}